// Color
$colorBase: #222;
$colorPrimary: #3366ff;
$colorSuccess: #a3e81b;
$colorInfo: #3bd7f9;
$colorWarning: #ffb732;
$colorDanger: #ff4935;

// Typography
$fontFamilySans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontFamilySerif: "Lora", serif;
$fontFamilyMono: "JetBrains Mono", monospace;
$fontFamilyBase: $fontFamilySans;
$fontSizeBase: 10;
$lineHeightBase: 1.5;
$spacingUnitBase: ($fontSizeBase * $lineHeightBase) * 0.1rem;

// Breakpoints
$lg: 128rem;
$md: 102.4rem;
$sm: 76.8rem;
$xs: 48rem;
$breakpoints: (
  "lg" "(min-width: " + ($md + 1) + ")",
  "md" "(min-width: " + ($sm + 1) + ") and (max-width: " + $md + ")",
  "sm" "(min-width: " + ($xs + 1) + ") and (max-width:" + $sm + ")",
  "xs" "(max-width: " + $xs + ")"
);

// Components
$borderRadius: 1rem;

// Spacing
$gapXS: 1rem;
$gapSM: 2rem;
$gapMD: 3rem;
$gapLG: 4rem;
$gapXL: 5rem;

// Animation
$aniSpeed: 250ms;
$ani: ease-in-out;

// Shadows
$bsXS: 0 0px 0.7px rgba(0, 0, 0, 0.02), 0 0px 1.7px rgba(0, 0, 0, 0.028),
  0 0px 3.1px rgba(0, 0, 0, 0.035), 0 0px 5.6px rgba(0, 0, 0, 0.042),
  0 0px 10.4px rgba(0, 0, 0, 0.05), 0 0px 25px rgba(0, 0, 0, 0.07);
$bsSM: 0 0.7px 1.4px rgba(0, 0, 0, 0.02), 0 1.7px 3.3px rgba(0, 0, 0, 0.028),
  0 3.1px 6.3px rgba(0, 0, 0, 0.035), 0 5.6px 11.2px rgba(0, 0, 0, 0.042),
  0 10.4px 20.9px rgba(0, 0, 0, 0.05), 0 25px 50px rgba(0, 0, 0, 0.07);
$bsMD: 0 1.4px 2.1px rgba(0, 0, 0, 0.02), 0 3.3px 5px rgba(0, 0, 0, 0.028),
  0 6.3px 9.4px rgba(0, 0, 0, 0.035), 0 11.2px 16.8px rgba(0, 0, 0, 0.042),
  0 20.9px 31.3px rgba(0, 0, 0, 0.05), 0 50px 75px rgba(0, 0, 0, 0.07);
$bsLG: 0 2.1px 2.8px rgba(0, 0, 0, 0.02), 0 5px 6.7px rgba(0, 0, 0, 0.028),
  0 9.4px 12.5px rgba(0, 0, 0, 0.035), 0 16.8px 22.3px rgba(0, 0, 0, 0.042),
  0 31.3px 41.8px rgba(0, 0, 0, 0.05), 0 75px 100px rgba(0, 0, 0, 0.07);
$bsXL: 0 2.8px 3.5px rgba(0, 0, 0, 0.02), 0 6.7px 8.3px rgba(0, 0, 0, 0.028),
  0 12.5px 15.7px rgba(0, 0, 0, 0.035), 0 22.3px 27.9px rgba(0, 0, 0, 0.042),
  0 41.8px 52.2px rgba(0, 0, 0, 0.05), 0 100px 125px rgba(0, 0, 0, 0.07);
